RUST_LOG=info
# Additional logging options (file mode)...by default is stdout
# See docker-compose.yaml for more details
# LOG_MODE=file
# LOG_DATA_DIR=logs/
# MONITOR_DATA_DIR=data/
# LOG_MAX_SIZE=1073741824
# METRICS_ENABLED=false
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL

# RPC URLs (multiple fallbacks per chain)
# ETH_RPC_URL_1=https://eth.drpc.org
# ETH_RPC_URL_2=https://ethereum-rpc.publicnode.com
# ETH_RPC_URL_3=https://eth.llamarpc.com
# ETH_RPC_URL_4=https://1rpc.io/eth
# ETH_RPC_URL_5=https://eth.merkle.io
# BASE_RPC_URL_1=https://mainnet.base.org
# BASE_RPC_URL_2=https://base.drpc.org
# BASE_RPC_URL_3=https://base.llamarpc.com
# BASE_RPC_URL_4=https://1rpc.io/base
# BASE_RPC_URL_5=https://base-rpc.publicnode.com
# ARB_RPC_URL_1=https://arb1.arbitrum.io/rpc
# ARB_RPC_URL_2=https://arbitrum.drpc.org
# ARB_RPC_URL_3=https://arbitrum-one-rpc.publicnode.com
# ARB_RPC_URL_4=https://1rpc.io/arb
# ARB_RPC_URL_5=https://arbitrum.meowrpc.com
# RISE_RPC_URL_1=https://rpc.risechain.com
